* {
    box-sizing: border-box;
}

body {
    background: lightblue;
    text-align: center;
    padding: 20px;
}

#container {
    width: 350px;
    min-height: 200px;
    background: white;
    margin: 0 auto;
    padding: 15px 25px;
    box-shadow: 0 0 3px gray;
    border-radius: 5px;
}

h1 {
    color: lightcoral;
    text-shadow: 1px 1px 2px lightblue;
}

h1 span {
    color: lightseagreen;
}

#text {
    width: 100%;
    border: 2px solid lightcoral;
    border-radius: 3px;
    padding: 2px 5px;
    outline: none;
    font-size: 15px;
    color: lightseagreen;
}

#btn {
    width: 100%;
    margin-top: 7px;
    font-size: 15px;
    padding: 2px 0;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid lightcoral;
    color: lightcoral;
    font-weight: 600;
    background: transparent;
    outline: none;
}

#btn:hover {
    background: lightblue;
}

#btn:active {
    border: 2px solid lightseagreen;
    color: lightseagreen;
}

#list {
    text-align: left;
    list-style-type: none;
    padding-left: 0;
}

#list li {
    position: relative;
    padding: 6px 58px 6px 5px;
    font-size: 18px;
    color: lightcoral;
    margin: 2px 0;
    border-radius: 5px;
    box-shadow: 0 0 2px gray; 
}

.delete {
    position: absolute;
    background: lightcoral;
    cursor: pointer;
    border-radius: 50%;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    height: 23px;
    width: 23px;
}

.delete:active {
    background: gray;
}

.done {
    position: absolute;
    background: lightseagreen;
    cursor: pointer;
    border-radius: 50%;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    color: white;
    padding: 0 7px;
    width: 23px;
    height: 23px;
}

.done:active {
    background: gray;
}

.done input {
    display: none;
}

.done input:checked + .done {
    background: yellow;
}