* {
    box-sizing: border-box;
}

body {
    background: url(http://bm.img.com.ua/berlin/storage/news/orig/3/8f/3281b937b29a189eac3d0ed8dd0fa8f3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    color: blueviolet;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    text-shadow: 0 0 3px orange;
    font-size: 30px;
}
h1 {
    margin-bottom: 0px;
}
h2 {
    margin: 0;
    color: orange;
    text-shadow: 2px 2px 5px blueviolet;
}

label {
    color: blueviolet;
    text-shadow: 2px 2px 2px orange;
    font-weight: bold;
    vertical-align: middle;
}
input {
    border: 2px solid blueviolet;
    border-radius: 2px;
    vertical-align: middle;
    color: darkmagenta;
    font-size: 20px;
    width: 150px;
    padding: 0 5px;
    margin: 15px 0;
}
#btn {
    color: darkmagenta;
    font-size: 20px;
    background: orange;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid darkmagenta;
    outline: none;
    margin-top: 25px;
}
#btn:hover {
    background: darkmagenta;
    color: orange;
}
#btn:active {
    transform: scale(1.1);
}

#hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: none;
}

#animation {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#circle1, #circle2, #circle3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
    width: 20px;
    height: 20px;
    border: 1px solid darkmagenta;
    border-radius: 50%;
    background: orange;
}

#circle1 {
    background: darkmagenta;
}

.div1, .div2 {
    width: calc((100% - 50px) / 2);
    background: rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    min-height: 300px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    text-align: right
}

.div2 {
    text-align: center;
    color: orange;
    text-shadow: 2px 2px 5px blueviolet;
}

#temp {
    font-size: 80px;
    margin: 15px 0 0;
    text-align: 1em;
}

#place {
    margin: 0;
}

#description {
    font-style: italic;
    margin: 0;
    font-size: 20px;
}

#icon {
    height: 90px;   
}

#weatherBtn {
    color: darkmagenta;
    /* font-size: 20px; */
    background: orange;
    cursor: pointer;
    /* padding: 5px 15px; */
    border-radius: 5px;
    border: 2px solid darkmagenta;
    outline: none;
}

#weatherBtn:hover {
    background: darkmagenta;
    color: orange;
}
#weatherBtn:active {
    transform: scale(1.1);
}