* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding-left: 40px;
	background: url(https://womanadvice.ru/sites/default/files/27/magicheskiy_shar.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	padding: 30px;
	font-size: 30px;
	text-align: center;
	color: orange;
	width: 100%;
	height: 635px;
	box-sizing: border-box;
}

h1 {
	text-shadow: 0 0 10px black;
	line-height: 1em;
}

h1 span {
	color: #CE4010;
	font-size: 80px;
	text-shadow: 0 0 20px orange;
}

label {
	text-shadow: 0 0 10px black;
}

label span {
	color: red;
	text-shadow: 0 0 3px yellow;
}

#date {
	margin: 10px 0 0 10px;
	background: transparent;
	font-size: 25px;
	color: #CE4010;
	border: 2px solid orange;
	border-radius: 3px;
	outline: none;
}

#btn {
	padding: 5px 10px;
	margin-top: 15px;
	font-size: 30px;
	background: transparent;
	outline: none;
	border: 2px solid orange;
	cursor: pointer;
	border-radius: 3px;
	color: #CE4010;
}

#btn:hover {
	background: orange;
	border: 2px solid #CE4010;
	border-radius: 3px;
}

.result {
	border: 3px solid orange;
	width: 200px;
	margin: 10px auto;
}

.result p {
	margin: 10px;
	color: #CE4010;
}

#num {
	font-size: 50px;
}