.container {
	padding: 20px;
	display: inline-block;
	background-image: url(timer.png);
	background-size: contain;
	width: 300px;
	height: 300px;
	text-align: center;
	border-radius: 20%;
	position: relative;
	font-size: 20px;
}

#numbers {
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translateX(-50%);
	width: 180px;
	font-size: 15px;
	color: white;
	text-shadow: 0 0 2px black;
}

#seconds {
	margin-top: 150px;
	text-shadow: 0 2px 3px gray;
	line-height: 1em;
}

#second {
	font-size: 40px;
	font-style: italic;
	font-weight: 700;
}

#start, #pause, #stop {
	position: absolute;
	background: transparent;
	outline: none;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

#start:hover, #pause:hover, #stop:hover {
	color: white;
	text-shadow: 0 0 2px black;
}

#start {
	top: 18px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 23px;
}

#start:disabled {
	display: none;
}

#pause {
	top: 82px;
	left: 48px;
	font-size: 10px;
	transform: rotate(-45deg);
}

#stop {
	top: 82px;
	right: 52px;
	font-size: 10px;
	transform: rotate(42deg);
}

.speed label {
	background: transparent;
	outline: none;
	border: 3px solid white;
	font-weight: bold;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	padding: 3px;
}

.speed input {
	display: none;
}

.speed input:checked + label {
	color: white;
	border: 3px solid gray;
}

#speedInfo {
	position: absolute;
	bottom: 10px;
	left: 200px;
	font-size: 15px;
}