.container {
	padding: 20px;
	display: inline-block;
	background-image: url(./img/timer2.png);
	background-size: contain;
	width: 300px;
	height: 300px;
	text-align: center;
	border-radius: 20%;
	position: relative;
	font-size: 20px;
}

#string {
	position: absolute;
	z-index: 0;
	top: 29%;
	left: 160px;
	/*transform: translateX(-50%);*/
	transform-origin: 50% 90px;
}

.string {
	background: white;
	width: 10px;
	height: 90px;
	border-radius: 40%;
	margin: 0 auto;
}

.circle {
	background: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-top: -10px;
}

#numbers {
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translateX(-50%);
	width: 180px;
	font-size: 15px;
	color: white;
	text-shadow: 0 0 2px black;
	z-index: 1;
}

#seconds {
	margin-top: 150px;
	text-shadow: 0 2px 3px gray;
	line-height: 1em;
	position: relative;
	z-index: 3;
}

#second {
	font-size: 50px;
	font-style: italic;
	font-weight: 700;
	text-shadow: 1px 2px 2px orange;
}

#start, #pause, #stop {
	position: absolute;
	background: transparent;
	outline: none;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

#start:hover, #pause:hover, #stop:hover {
	color: white;
	text-shadow: 0 0 2px black;
}

#start {
	top: 18px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 23px;
}

#start:disabled {
	display: none;
}

#pause {
	top: 82px;
	left: 48px;
	font-size: 10px;
	transform: rotate(-45deg);
}

#stop {
	top: 82px;
	right: 52px;
	font-size: 10px;
	transform: rotate(42deg);
}

.speed label {
	background: transparent;
	outline: none;
	border: 3px solid white;
	font-weight: bold;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	padding: 3px;
	position: relative;
	z-index: 3;
}

.speed input {
	display: none;
}

.speed input:checked + label {
	color: orange;
	border: 3px solid gray;
	text-shadow: 0 0 2px black;
}

#speedInfo {
	position: absolute;
	bottom: 10px;
	left: 200px;
	font-size: 15px;
}